In [2]:
import numpy as np
import pandas as pd
import data_helper

## Cargando los Datos

### Descripcion de los Datos

**Area_Lote**: Area del lote en metros cuadrados

**Precio**: Precio total de la propiedad en Quetzales

In [3]:
data_casas = pd.read_csv('data_casas.csv')

In [4]:
data_casas.head()

   Area_Lote  Precio
0       6240  115000
1      11241  149000
2      10690  147000
3       9571  129000
4       7742  127000

# Modelos de Regresion Lineal

### Modelo 1  
$y = 2.41262565 x + 107748.55024667$

### Modelo 2  
$y = 1.5322 x + 10790.55$

### Modelo 3  
$y = 3.12 x + 100750$

In [5]:
data_casas = data_helper.predict_price(data_casas)

In [6]:
data_casas.head()

   Area_Lote  Precio     y_modelo_1  y_modelo_2  y_modelo_3
0       6240  115000  122803.334303  20351.4780   120218.80
1      11241  149000  134868.875178  28014.0102   135821.92
2      10690  147000  133539.518445  27169.7680   134102.80
3       9571  129000  130839.790343  25455.2362   130611.52
4       7742  127000  126427.098029  22652.8424   124905.04

# Evaluando los modelos

En esta celda debes implementar una funcion para calcular el MSE

$\operatorname {MSE} ={\frac {1}{n}}\sum _{i=1}^{n}(Y_{i}-{\hat {Y_{i}}})^{2}$


###### Ayuda con el codigo de python

Para obtener en un vector todos los elementos de una columna:
```
y = data_casas['Precio'] 
```

Para elevar al cuadrado con numpy:
```
np.square( x )
```

Para hacer la sumatoria de un vector con numpy:
```
np.sum( x )
```

Obtener la longitud de un vector:
```
len(y)
```

In [10]:
y = data_casas['Precio']
y_hat = data_casas['y_modelo_1']
y_hat2=data_casas['y_modelo_2']
y_hat3=data_casas['y_modelo_3']
n = len(y)

#### Implementa tu codigo aqui ####



mse = 1/int(n)*np.sum(np.square(np.subtract(y,y_hat)))
mse2 = 1/int(n)*np.sum(np.square(np.subtract(y,y_hat2)))
mse3 = 1/int(n)*np.sum(np.square(np.subtract(y,y_hat3)))

print("Modelo 1:", mse)
print("Modelo 2:", mse2)
print("Modelo 3:", mse3)

Modelo 1: 50252751.57642537
Modelo 2: 11071481396.421818
Modelo 3: 54849053.77928299

## Utilizando la funcion  MSE de Scikit Learn

##### No es necesario ejecutar esta celda es solo una referencia para evaluar tus resultados

Evalua tus resultados:

In [11]:
from sklearn.metrics import mean_squared_error

print("Mean squared error [Modelo 1]: %.2f"
      % mean_squared_error(data_casas['Precio'], data_casas['y_modelo_1']))

print("Mean squared error [Modelo 2]: %.2f"
      % mean_squared_error(data_casas['Precio'], data_casas['y_modelo_2']))

print("Mean squared error [Modelo 3]: %.2f"
      % mean_squared_error(data_casas['Precio'], data_casas['y_modelo_3']))

Mean squared error [Modelo 1]: 50252751.58
Mean squared error [Modelo 2]: 11071481396.42
Mean squared error [Modelo 3]: 54849053.78

## Concluir cual de los tres modelos es el mas adecuado

El modelo más adecuado es el primero, que es el que tiene el MSE más pequeño.